In [119]:
%load_ext autoreload
%autoreload 2
import gymnasium as gym
import pandas as pd
from stable_baselines3 import PPO
from stable_baselines3.common.monitor import Monitor
from stable_baselines3.common.vec_env import DummyVecEnv, VecVideoRecorder

np.set_printoptions(suppress=True)
import numpy as np

from gymnasium.envs.registration import register

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [101]:
config = {
    "policy_type": "MlpPolicy",
    "total_timesteps": 50_000,
    "env_name": "ZeroDte-v0",
}

In [120]:
register(id="ZeroDte-v0", entry_point="zero_dte_env:ZeroDteEnv")
env = gym.make(config["env_name"], config=config)
env.reset()

/usr/local/lib/python3.10/site-packages/gymnasium/envs/registration.py:694: UserWarning: WARN: Overriding environment ZeroDte-v0 already in registry.
  logger.warn(f"Overriding environment {new_spec.id} already in registry.")

Number of quotes loaded: 504021
atm_strike: ms_of_day      34200000
strike          4745000
call_mid            0.0
put_mid             0.0
time_of_day    09:30:00
Name: 10, dtype: object
atm_strike: ms_of_day      34200000
strike          4745000
call_mid            0.0
put_mid             0.0
time_of_day    09:30:00
Name: 10, dtype: object

/usr/local/lib/python3.10/site-packages/gymnasium/utils/passive_env_checker.py:135: UserWarning: WARN: The obs returned by the `reset()` method was expecting numpy array dtype to be float32, actual type: float64
  logger.warn(
/usr/local/lib/python3.10/site-packages/gymnasium/utils/passive_env_checker.py:159: UserWarning: WARN: The obs returned by the `reset()` method is not within the observation space.
  logger.warn(f"{pre} is not within the observation space.")

(array([ 4695000.,        0.,        0.,  4700000.,        0.,        0.,
         4705000.,        0.,        0.,  4710000.,        0.,        0.,
         4715000.,        0.,        0.,  4720000.,        0.,        0.,
         4725000.,        0.,        0.,  4730000.,        0.,        0.,
         4735000.,        0.,        0.,  4740000.,        0.,        0.,
         4745000.,        0.,        0.,  4750000.,        0.,        0.,
         4755000.,        0.,        0.,  4760000.,        0.,        0.,
         4765000.,        0.,        0.,  4770000.,        0.,        0.,
         4775000.,        0.,        0.,  4780000.,        0.,        0.,
         4785000.,        0.,        0.,  4790000.,        0.,        0.,
         4795000.,        0.,        0., 34200000.,        0.,        0.,
               0.,        0.,     1000.]),
 {})

In [127]:
s = env.step(0)
s
# s[0].shape  
# s[0][21]
# s[0][22]
# s[21]

(array([ 4695000.   ,       45.6  ,        0.55 ,  4700000.   ,
              40.9  ,        0.825,  4705000.   ,       36.35 ,
               1.225,  4710000.   ,       31.95 ,        1.775,
         4715000.   ,       27.65 ,        2.525,  4720000.   ,
              23.7  ,        3.5  ,  4725000.   ,       20.   ,
               4.8  ,  4730000.   ,       16.5  ,        6.25 ,
         4735000.   ,       13.45 ,        8.1  ,  4740000.   ,
              10.85 ,        0.   ,  4745000.   ,        8.45 ,
              13.25 ,  4750000.   ,        6.4  ,       16.2  ,
         4755000.   ,        4.75 ,       19.6  ,  4760000.   ,
               3.45 ,       23.3  ,  4765000.   ,        2.475,
              27.4  ,  4770000.   ,        1.75 ,       31.65 ,
         4775000.   ,        1.25 ,       36.15 ,  4780000.   ,
               0.85 ,       40.8  ,  4785000.   ,        0.6  ,
              45.55 ,  4790000.   ,        0.425,       50.4  ,
         4795000.   ,        0.3  ,       55.3  , 34206000.   ,
               8.45 ,       13.25 ,        0.   ,        0.   ,
            1000.   ]),
 0.0,
 False,
 False,
 {})

In [130]:
# type(s[0])
s[0][-4]

13.25

In [113]:
# env.quotes
step_quotes = env.quotes[env.quotes['ms_of_day'] == 34200000]
step_quotes

/usr/local/lib/python3.10/site-packages/gymnasium/core.py:311: UserWarning: WARN: env.quotes to get variables from other wrappers is deprecated and will be removed in v1.0, to get this variable you can do `env.unwrapped.quotes` for environment variables or `env.get_wrapper_attr('quotes')` that will search the reminding wrappers.
  logger.warn(

    ms_of_day   strike  call_mid  put_mid time_of_day
0    34200000  4695000       0.0      0.0    09:30:00
1    34200000  4700000       0.0      0.0    09:30:00
2    34200000  4705000       0.0      0.0    09:30:00
3    34200000  4710000       0.0      0.0    09:30:00
4    34200000  4715000       0.0      0.0    09:30:00
5    34200000  4720000       0.0      0.0    09:30:00
6    34200000  4725000       0.0      0.0    09:30:00
7    34200000  4730000       0.0      0.0    09:30:00
8    34200000  4735000       0.0      0.0    09:30:00
9    34200000  4740000       0.0      0.0    09:30:00
10   34200000  4745000       0.0      0.0    09:30:00
11   34200000  4750000       0.0      0.0    09:30:00
12   34200000  4755000       0.0      0.0    09:30:00
13   34200000  4760000       0.0      0.0    09:30:00
14   34200000  4765000       0.0      0.0    09:30:00
15   34200000  4770000       0.0      0.0    09:30:00
16   34200000  4775000       0.0      0.0    09:30:00
17   34200000  4780000       0.0      0.0    09:30:00
18   34200000  4785000       0.0      0.0    09:30:00
19   34200000  4790000       0.0      0.0    09:30:00
20   34200000  4795000       0.0      0.0    09:30:00

In [118]:
# step_quotes.iloc[10]['strike']
step_quotes.iloc[10]

ms_of_day      34200000
strike          4745000
call_mid            0.0
put_mid             0.0
time_of_day    09:30:00
Name: 10, dtype: object